<section>
    <mat-button-toggle-group aria-label="Font Style">
        <mat-button-toggle (click)="turn('on')">ENCENDIDO</mat-button-toggle>
        <mat-button-toggle (click)="turn('off')">APAGADO </mat-button-toggle>
    </mat-button-toggle-group>
</section>
<div *ngIf="!disabled">
    <section>
        <mat-button-toggle-group aria-label="Font Style">
            <mat-button-toggle (click)="changeRutine('manual')">MANUAL</mat-button-toggle>
            <mat-button-toggle (click)="changeRutine('rutine1')">RUTINA1</mat-button-toggle>
            <mat-button-toggle (click)="changeRutine('rutine2')">RUTINA2</mat-button-toggle>
        </mat-button-toggle-group>
    </section>
    <section>
        <mat-button-toggle-group [(ngModel)]="dir" aria-label="Font Style">
            <mat-button-toggle value="left">IZQUIERDA</mat-button-toggle>
            <mat-button-toggle value="right">DERECHA</mat-button-toggle>
        </mat-button-toggle-group>
    </section>
</div>
<!-- debe llevar (click)="send()" -->
<button mat-raised-button color="primary">RECIBIR DATOS</button>
